<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kompakt - Konsept 2 (kommune)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kompakt - Konsept 2 (kommune)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0fe3e302e0e747cc9daa83da38bcf798.png" alt="Kompakt - Konsept 2 (kommune)" usemap="#id-0fe3e302e0e747cc9daa83da38bcf798map"/>
			   <map name="id-0fe3e302e0e747cc9daa83da38bcf798map">
				  		<area shape="rect" coords="225,10,370,71" href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html"  target="element">
				  				<area shape="rect" coords="34,202,154,257" href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">

				  		<area shape="rect" coords="10,10,179,275" href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html"  target="element">
				  		<area shape="rect" coords="225,214,370,275" href="../elements/id-887825a4429040d1848203d381c6ef0d.html"  target="element">
				  				<area shape="rect" coords="454,46,574,101" href="../elements/id-bc999598964d460a963c539cc09da45d.html"  target="element">
				  				<area shape="rect" coords="454,118,574,179" href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html"  target="element">

				  		<area shape="rect" coords="418,10,610,275" href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
											    <td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html" target="element"> Dokumentregister </a> </td>
													    <td> <a href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc999598964d460a963c539cc09da45d.html" target="element"> Koblingspunkt </a> </td>
													    <td> <a href="../elements/id-bc999598964d460a963c539cc09da45d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
											    <td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
											    <td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d547ab3112f8489eab5ce985c7b581a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d547ab3112f8489eab5ce985c7b581a0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fff8e2965854aaba65de568b3fe4316.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fff8e2965854aaba65de568b3fe4316.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-227e7863bc5b4ea5a5e65fd16d3d10c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-227e7863bc5b4ea5a5e65fd16d3d10c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
																		<td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0cacf4ad70b43d195725431d68b472f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0cacf4ad70b43d195725431d68b472f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>