<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kompakt - EPJ-leverandør alternativ 1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kompakt - EPJ-leverand&#248;r alternativ 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-15c76efd791e49d4ae55c9b622e23671.png" alt="Kompakt - EPJ-leverandør alternativ 1" usemap="#id-15c76efd791e49d4ae55c9b622e23671map"/>
			   <map name="id-15c76efd791e49d4ae55c9b622e23671map">
				  				<area shape="rect" coords="490,190,610,263" href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html"  target="element">
				  				<area shape="rect" coords="490,46,610,101" href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html"  target="element">
				  				<area shape="rect" coords="490,118,610,179" href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html"  target="element">

				  		<area shape="rect" coords="454,10,646,275" href="../elements/id-42d2ddd14bf948b792f8a8ce3cbba763.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">

				  		<area shape="rect" coords="10,10,179,275" href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html"  target="element">
				  		<area shape="rect" coords="227,10,408,83" href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html"  target="element">
				  		<area shape="rect" coords="227,202,408,275" href="../elements/id-5ea8dbd7d9d94d54859bd26b384bde70.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5ea8dbd7d9d94d54859bd26b384bde70.html" target="element"> Avtale om deltakelse i EPJ-leverand&#248;rens samarbeidsomr&#229;de </a> </td>
											    <td> <a href="../elements/id-5ea8dbd7d9d94d54859bd26b384bde70.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
											    <td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-42d2ddd14bf948b792f8a8ce3cbba763.html" target="element"> EPJ-leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-42d2ddd14bf948b792f8a8ce3cbba763.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element"> Dokumentregister EPJ-leverand&#248;r </a> </td>
													    <td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
													    <td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
													    <td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-b0cacf4ad70b43d195725431d68b472f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0cacf4ad70b43d195725431d68b472f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-50985a37b826419bb84194b73c935365.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50985a37b826419bb84194b73c935365.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2cca355057d4dad8dc93ab058127cd5.html" target="element"> Kommune </a> </td>
																		<td> <a href="../elements/id-5ea8dbd7d9d94d54859bd26b384bde70.html" target="element"> Avtale om deltakelse i EPJ-leverand&#248;rens samarbeidsomr&#229;de </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ce8cb1e82e104b23bf04f9cb54db9ed9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce8cb1e82e104b23bf04f9cb54db9ed9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42d2ddd14bf948b792f8a8ce3cbba763.html" target="element"> EPJ-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8b6ea010bfa24a028e52ef9f25ae1833.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8b6ea010bfa24a028e52ef9f25ae1833.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-42d2ddd14bf948b792f8a8ce3cbba763.html" target="element"> EPJ-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-5ea8dbd7d9d94d54859bd26b384bde70.html" target="element"> Avtale om deltakelse i EPJ-leverand&#248;rens samarbeidsomr&#229;de </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>