<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kompakt - Konsept 1 variant (avtalespesialist) Usikker </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kompakt - Konsept 1 variant (avtalespesialist) Usikker </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-23a2c0d6f6a14861b824e91a14753e30.png" alt="Kompakt - Konsept 1 variant (avtalespesialist) Usikker " usemap="#id-23a2c0d6f6a14861b824e91a14753e30map"/>
			   <map name="id-23a2c0d6f6a14861b824e91a14753e30map">
				          <area shape="rect" coords="571,280,697,328" href="../objects/id-d7fadc969ff04d9896f34e111ccb1bae.html" target="element" >
				  		<area shape="rect" coords="220,316,365,377" href="../elements/id-4a2b39c04ea04b74a6d9db970cb27f1e.html"  target="element">
				  				<area shape="rect" coords="667,202,787,257" href="../elements/id-42fa8176ac9c4fd185391458000dc0e9.html"  target="element">
				  				<area shape="rect" coords="667,118,787,179" href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html"  target="element">
				  				<area shape="rect" coords="667,46,787,101" href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html"  target="element">

				  		<area shape="rect" coords="631,10,824,275" href="../elements/id-38eee9fe91aa479d8169e36fe2eaca0f.html"  target="element">
				  		<area shape="rect" coords="220,10,365,71" href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html"  target="element">
				  		<area shape="rect" coords="220,214,365,275" href="../elements/id-887825a4429040d1848203d381c6ef0d.html"  target="element">
				  				<area shape="rect" coords="449,46,569,101" href="../elements/id-bc999598964d460a963c539cc09da45d.html"  target="element">
				  				<area shape="rect" coords="449,118,569,179" href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html"  target="element">

				  		<area shape="rect" coords="413,10,605,275" href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">

				  		<area shape="rect" coords="10,10,179,275" href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
											    <td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
											    <td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html" target="element"> Dokumentregister </a> </td>
													    <td> <a href="../elements/id-ec187b16da3a46df82f00cf2ea071459.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc999598964d460a963c539cc09da45d.html" target="element"> Koblingspunkt </a> </td>
													    <td> <a href="../elements/id-bc999598964d460a963c539cc09da45d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
											    <td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38eee9fe91aa479d8169e36fe2eaca0f.html" target="element"> NHN </a> </td>
											    <td> <a href="../elements/id-38eee9fe91aa479d8169e36fe2eaca0f.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
													    <td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element"> Dokumentregister KJ </a> </td>
													    <td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-42fa8176ac9c4fd185391458000dc0e9.html" target="element"> Nasjonalt dokumentlager </a> </td>
													    <td> <a href="../elements/id-42fa8176ac9c4fd185391458000dc0e9.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4a2b39c04ea04b74a6d9db970cb27f1e.html" target="element"> Databehandleravtale dokumentlager </a> </td>
											    <td> <a href="../elements/id-4a2b39c04ea04b74a6d9db970cb27f1e.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d7fadc969ff04d9896f34e111ccb1bae.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d7fadc969ff04d9896f34e111ccb1bae.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-7cc3e4233f524f76933e9d7a21d161b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cc3e4233f524f76933e9d7a21d161b6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9631357695054259ba1767f14d992902.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9631357695054259ba1767f14d992902.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
																		<td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd0b2b3f3fe44c6fb11d136844a0cdf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd0b2b3f3fe44c6fb11d136844a0cdf8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
																		<td> <a href="../elements/id-4a2b39c04ea04b74a6d9db970cb27f1e.html" target="element"> Databehandleravtale dokumentlager </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8fff8e2965854aaba65de568b3fe4316.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fff8e2965854aaba65de568b3fe4316.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d547ab3112f8489eab5ce985c7b581a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d547ab3112f8489eab5ce985c7b581a0.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-597b39bb2a6243678738d3cb7a37e8cc.html" target="element"> Tjenestetilbyder </a> </td>
																		<td> <a href="../elements/id-887825a4429040d1848203d381c6ef0d.html" target="element"> Avtale om deltakelse i samarbeidsomr&#229;de </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a54699f61f8b446d8be8f8c1fd4a1d9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a54699f61f8b446d8be8f8c1fd4a1d9a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-38eee9fe91aa479d8169e36fe2eaca0f.html" target="element"> NHN </a> </td>
																		<td> <a href="../elements/id-4a2b39c04ea04b74a6d9db970cb27f1e.html" target="element"> Databehandleravtale dokumentlager </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>