<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Produsent</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Produsent</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-cc7d317a9e1446fd85a30ddc9f1d3f89.png" alt="Produsent" usemap="#id-cc7d317a9e1446fd85a30ddc9f1d3f89map"/>
			   <map name="id-cc7d317a9e1446fd85a30ddc9f1d3f89map">
				  		<area shape="rect" coords="394,212,514,267" href="../elements/id-115d61216b3044f6821209795d4ae707.html"  target="element">
				  		<area shape="rect" coords="994,322,1114,377" href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html"  target="element">
				  		<area shape="rect" coords="226,322,346,377" href="../elements/id-1c911537c1a84da9ad2b2ce20d73fec9.html"  target="element">
				  		<area shape="rect" coords="226,106,346,161" href="../elements/id-e4943a326b07406c83e0138e10eef0e4.html"  target="element">
				  		<area shape="rect" coords="394,322,514,377" href="../elements/id-e12437a3a1b14e37825c9369a925a595.html"  target="element">
				  		<area shape="rect" coords="394,106,514,161" href="../elements/id-b8c0a23acef24955b1e4f0b0b402bd5f.html"  target="element">
				  		<area shape="rect" coords="610,212,730,267" href="../elements/id-e6900b59d4b243df9cdd122ed9de1b2b.html"  target="element">
				  		<area shape="rect" coords="10,212,130,267" href="../elements/id-499c94b183f14dd1a9c792568f6ae5f0.html"  target="element">
				  		<area shape="rect" coords="982,106,1102,161" href="../elements/id-074998a091fe4e27bba46a8e8173c325.html"  target="element">
				  		<area shape="rect" coords="802,322,922,377" href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html"  target="element">
				  		<area shape="rect" coords="802,106,922,161" href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html"  target="element">
				  		<area shape="rect" coords="610,322,730,377" href="../elements/id-6e0649b1f9984df69ccad49727b6aec2.html"  target="element">
				  		<area shape="rect" coords="610,106,730,161" href="../elements/id-03090ec6c1764591a1f0d550f7898925.html"  target="element">
				  		<area shape="rect" coords="226,212,346,267" href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html"  target="element">
				  		<area shape="rect" coords="802,430,922,485" href="../elements/id-3803df594c9d4c58b7a0067867091a36.html"  target="element">
				  		<area shape="rect" coords="802,10,922,65" href="../elements/id-e1ba626a5f7848349d65aea3020dba68.html"  target="element">
				  		<area shape="rect" coords="802,212,922,267" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">
				  		<area shape="rect" coords="994,212,1114,267" href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Modell for tjenestesammensetning produsent. Viser tjenester som brukes av rollen produsent i forbindelse med dokumentdeling.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
											    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1ba626a5f7848349d65aea3020dba68.html" target="element"> Registrere dokument </a> </td>
											    <td> <a href="../elements/id-e1ba626a5f7848349d65aea3020dba68.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3803df594c9d4c58b7a0067867091a36.html" target="element"> Lagre dokument </a> </td>
											    <td> <a href="../elements/id-3803df594c9d4c58b7a0067867091a36.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
											    <td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03090ec6c1764591a1f0d550f7898925.html" target="element"> Svare p&#229; s&#248;k (XDS) </a> </td>
											    <td> <a href="../elements/id-03090ec6c1764591a1f0d550f7898925.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e0649b1f9984df69ccad49727b6aec2.html" target="element"> Levere dokument (XDS) </a> </td>
											    <td> <a href="../elements/id-6e0649b1f9984df69ccad49727b6aec2.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
											    <td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
											    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-074998a091fe4e27bba46a8e8173c325.html" target="element"> Metadata </a> </td>
											    <td> <a href="../elements/id-074998a091fe4e27bba46a8e8173c325.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-499c94b183f14dd1a9c792568f6ae5f0.html" target="element"> Initierende gateway </a> </td>
											    <td> <a href="../elements/id-499c94b183f14dd1a9c792568f6ae5f0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6900b59d4b243df9cdd122ed9de1b2b.html" target="element"> Fellestjeneste </a> </td>
											    <td> <a href="../elements/id-e6900b59d4b243df9cdd122ed9de1b2b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b8c0a23acef24955b1e4f0b0b402bd5f.html" target="element"> S&#248;k etter dokument (XDS) </a> </td>
											    <td> <a href="../elements/id-b8c0a23acef24955b1e4f0b0b402bd5f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e12437a3a1b14e37825c9369a925a595.html" target="element"> Hent dokument (XDS) </a> </td>
											    <td> <a href="../elements/id-e12437a3a1b14e37825c9369a925a595.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e4943a326b07406c83e0138e10eef0e4.html" target="element"> S&#248;k etter dokument (XCA) </a> </td>
											    <td> <a href="../elements/id-e4943a326b07406c83e0138e10eef0e4.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c911537c1a84da9ad2b2ce20d73fec9.html" target="element"> Hent dokument (XCA) </a> </td>
											    <td> <a href="../elements/id-1c911537c1a84da9ad2b2ce20d73fec9.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element"> Dokument </a> </td>
											    <td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-115d61216b3044f6821209795d4ae707.html" target="element"> Ruting informasjon </a> </td>
											    <td> <a href="../elements/id-115d61216b3044f6821209795d4ae707.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f045c58762ba40c58727a1d1eeb2721f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f045c58762ba40c58727a1d1eeb2721f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
																		<td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-905163c128f54adb8ab7dff1db8558cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-905163c128f54adb8ab7dff1db8558cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6e84d09df37c4495b8f88b8a7cb0ac80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6e84d09df37c4495b8f88b8a7cb0ac80.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
																		<td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-df1fee9e6beb4455b1b08c145712f8a1.html" target="element"> ITI-38 / ITI-39 </a> </td>
																		<td> <a href="../elements/id-df1fee9e6beb4455b1b08c145712f8a1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-499c94b183f14dd1a9c792568f6ae5f0.html" target="element"> Initierende gateway </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dfe8c37f5b2d46f2807f05601cfd7354.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfe8c37f5b2d46f2807f05601cfd7354.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-b8c0a23acef24955b1e4f0b0b402bd5f.html" target="element"> S&#248;k etter dokument (XDS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6f985439854a4fbeaa08b3c3c7648883.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6f985439854a4fbeaa08b3c3c7648883.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-e12437a3a1b14e37825c9369a925a595.html" target="element"> Hent dokument (XDS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0699d57e55374f9b91cf7b8bf8266cb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0699d57e55374f9b91cf7b8bf8266cb6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-1c911537c1a84da9ad2b2ce20d73fec9.html" target="element"> Hent dokument (XCA) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e1c5b92b24747e9a96efe5261e1e143.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e1c5b92b24747e9a96efe5261e1e143.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-e4943a326b07406c83e0138e10eef0e4.html" target="element"> S&#248;k etter dokument (XCA) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3ae93685e8143e78fa3c437c4ac45a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ae93685e8143e78fa3c437c4ac45a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e82f71d1031d495f8c3860ec2fbee117.html" target="element"> R&#8206;esponderende Gateway </a> </td>
																		<td> <a href="../elements/id-115d61216b3044f6821209795d4ae707.html" target="element"> Ruting informasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e17599b13aab4a2db013eb3d6fc8f2b0.html" target="element"> ITI-18  </a> </td>
																		<td> <a href="../elements/id-e17599b13aab4a2db013eb3d6fc8f2b0.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-03090ec6c1764591a1f0d550f7898925.html" target="element"> Svare p&#229; s&#248;k (XDS) </a> </td>
																		<td> <a href="../elements/id-b8c0a23acef24955b1e4f0b0b402bd5f.html" target="element"> S&#248;k etter dokument (XDS) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6dcf301552194673b526f9b4c086eb7f.html" target="element"> ITI-43 </a> </td>
																		<td> <a href="../elements/id-6dcf301552194673b526f9b4c086eb7f.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6e0649b1f9984df69ccad49727b6aec2.html" target="element"> Levere dokument (XDS) </a> </td>
																		<td> <a href="../elements/id-e12437a3a1b14e37825c9369a925a595.html" target="element"> Hent dokument (XDS) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-40851f9a672f49629825bc03274e77ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40851f9a672f49629825bc03274e77ca.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
																		<td> <a href="../elements/id-e1ba626a5f7848349d65aea3020dba68.html" target="element"> Registrere dokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09b36479c3e148f189ac449a46b0b617.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09b36479c3e148f189ac449a46b0b617.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
																		<td> <a href="../elements/id-03090ec6c1764591a1f0d550f7898925.html" target="element"> Svare p&#229; s&#248;k (XDS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02e643d3dde3468a8ef6e366cc8228a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02e643d3dde3468a8ef6e366cc8228a3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
																		<td> <a href="../elements/id-074998a091fe4e27bba46a8e8173c325.html" target="element"> Metadata </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b48f4e666aa438cbead293767fa8224.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b48f4e666aa438cbead293767fa8224.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																		<td> <a href="../elements/id-3803df594c9d4c58b7a0067867091a36.html" target="element"> Lagre dokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-179e306c5d094898b5f4e17b20e0cedc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-179e306c5d094898b5f4e17b20e0cedc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																		<td> <a href="../elements/id-6e0649b1f9984df69ccad49727b6aec2.html" target="element"> Levere dokument (XDS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fd4ec8e6bbe842879e08c9ae9df9aec2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fd4ec8e6bbe842879e08c9ae9df9aec2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																		<td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element"> Dokument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-96fe68595a1944f2a7fe4caaa98ce0e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96fe68595a1944f2a7fe4caaa98ce0e0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6900b59d4b243df9cdd122ed9de1b2b.html" target="element"> Fellestjeneste </a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b731129e42cf44d7b89750c441841b47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b731129e42cf44d7b89750c441841b47.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e6900b59d4b243df9cdd122ed9de1b2b.html" target="element"> Fellestjeneste </a> </td>
																		<td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>