<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Leverandør alternativ 2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Leverand&#248;r alternativ 2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-defd00cd53a64cdb868e02a307859aa6.png" alt="Leverandør alternativ 2" usemap="#id-defd00cd53a64cdb868e02a307859aa6map"/>
			   <map name="id-defd00cd53a64cdb868e02a307859aa6map">
				  		<area shape="rect" coords="922,610,1042,665" href="../elements/id-a2ab4fd508b14098900bd44b8475f5b1.html"  target="element">
				  		<area shape="rect" coords="527,610,647,665" href="../elements/id-ead199c74c6b48bba8473ed21f190791.html"  target="element">
				  		<area shape="rect" coords="227,610,347,665" href="../elements/id-02d570a566ec4f39864cb83b0346386c.html"  target="element">
				  		<area shape="rect" coords="1198,178,1318,233" href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html"  target="element">
				  		<area shape="rect" coords="222,178,342,233" href="../elements/id-a026338c44e04910a9b3772807965414.html"  target="element">
				  		<area shape="rect" coords="222,70,342,125" href="../elements/id-3baeb3bd10f942fba5e62d881d034423.html"  target="element">
				  		<area shape="rect" coords="430,70,550,125" href="../elements/id-378ffa1d42f34633952dced662a8b7de.html"  target="element">
				  		<area shape="rect" coords="430,178,550,233" href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html"  target="element">
				  		<area shape="rect" coords="430,274,550,329" href="../elements/id-f248e5290c3744a4a94391910c19e766.html"  target="element">
				  		<area shape="rect" coords="622,274,742,329" href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html"  target="element">
				  		<area shape="rect" coords="1198,70,1318,125" href="../elements/id-39ed66e749b04f1d96caf985dd9d00fd.html"  target="element">
				  		<area shape="rect" coords="10,70,130,125" href="../elements/id-b410cf86548f4c0cbde779cd6cf33d3d.html"  target="element">
				  		<area shape="rect" coords="814,274,934,329" href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html"  target="element">
				  		<area shape="rect" coords="814,178,934,233" href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html"  target="element">
				  		<area shape="rect" coords="814,70,934,125" href="../elements/id-55fa2034c06f4ebd9abd29d5962d8e9c.html"  target="element">
				  		<area shape="rect" coords="1006,178,1126,233" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">
				  		<area shape="rect" coords="1006,70,1126,125" href="../elements/id-694ff68d3af741e699eff40037dc6fef.html"  target="element">
				          <area shape="rect" coords="190,10,383,563" href="../objects/id-7e7b48f04b924203ad754a0064c93527.html" target="element" >
				          <area shape="rect" coords="406,10,767,563" href="../objects/id-6568adae9a4a45dea2e851ba04f59a1d.html" target="element" >
				  				<area shape="rect" coords="814,481,934,536" href="../elements/id-e72cdc5c50b446649b01e9125262f039.html"  target="element">
				  				<area shape="rect" coords="814,373,934,428" href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html"  target="element">

				          <area shape="rect" coords="790,13,971,563" href="../objects/id-c9c4791d8c554010a18d3a5f1a33d1de.html" target="element" >
				  				<area shape="rect" coords="1006,478,1126,533" href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html"  target="element">
				  				<area shape="rect" coords="1006,370,1126,425" href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html"  target="element">

				          <area shape="rect" coords="994,10,1139,563" href="../objects/id-160c7bc5e42141a7a12da03ab8fa4f21.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Tekstforslag - f&#248;rste utkast - IKKE KVALITETSSIKRET. KUN LESEVERSJON AV TEKST. Redigeres i Word-dokument for miniutredningen
Dette konseptet tar utgangspunkt i at avtalespesialistene blir del av samarbeidsomr&#229;det som leverand&#248;ren av EPJ-systemet har ansvaret for. Slike samarbeidsomr&#229;der eksisterer ikke i dag. I dette konseptet legges det opp til at slike samarbeidsomr&#229;det vil ha et eget dokumentregister som tilbys av EPJ-leverand&#248;ren. Det vil v&#230;re leverand&#248;ren av EPJ-systemet som forvalter dette registeret. Avtalespesialistene vil bruke registeret for &#229; gj&#248;re metadata om utvalgte dokumenter tilgjengelig for s&#248;k. For &#229; gj&#248;re selve dokumentene tilgjengelig benytter avtalespesialistene i dette konseptet et felles dokumentlager i samarbeidsomr&#229;det. Dette dokumentlageret forvaltes av EPJ-leverand&#248;ren og vil v&#230;re logisk adskilt for den enkelte avtalespesialist. Kun kopier av journaldokumenter som skal deles legges i dette dokumentlageret.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-160c7bc5e42141a7a12da03ab8fa4f21.html" target="element"> Avtalespesialist lokalt </a> </td>
									           <td> <a href="../objects/id-160c7bc5e42141a7a12da03ab8fa4f21.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element"> Dokument </a> </td>
													    <td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-c9c4791d8c554010a18d3a5f1a33d1de.html" target="element"> Leverand&#248;r </a> </td>
									           <td> <a href="../objects/id-c9c4791d8c554010a18d3a5f1a33d1de.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
													    <td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e72cdc5c50b446649b01e9125262f039.html" target="element"> Dokument kopi </a> </td>
													    <td> <a href="../elements/id-e72cdc5c50b446649b01e9125262f039.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-6568adae9a4a45dea2e851ba04f59a1d.html" target="element"> Kjernejournal </a> </td>
									           <td> <a href="../objects/id-6568adae9a4a45dea2e851ba04f59a1d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-7e7b48f04b924203ad754a0064c93527.html" target="element"> Konsumerende virksomhet </a> </td>
									           <td> <a href="../objects/id-7e7b48f04b924203ad754a0064c93527.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-694ff68d3af741e699eff40037dc6fef.html" target="element"> Fagsystem (dokumentkilde) </a> </td>
											    <td> <a href="../elements/id-694ff68d3af741e699eff40037dc6fef.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
											    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-55fa2034c06f4ebd9abd29d5962d8e9c.html" target="element"> Dokumentliste Leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-55fa2034c06f4ebd9abd29d5962d8e9c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element"> Dokumentregister EPJ-leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b410cf86548f4c0cbde779cd6cf33d3d.html" target="element"> Konsumerende helsepersonell </a> </td>
											    <td> <a href="../elements/id-b410cf86548f4c0cbde779cd6cf33d3d.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39ed66e749b04f1d96caf985dd9d00fd.html" target="element"> Produserende helsepersonell </a> </td>
											    <td> <a href="../elements/id-39ed66e749b04f1d96caf985dd9d00fd.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
											    <td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f248e5290c3744a4a94391910c19e766.html" target="element"> Dokument visning </a> </td>
											    <td> <a href="../elements/id-f248e5290c3744a4a94391910c19e766.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element"> Dokumentregister KJ </a> </td>
											    <td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-378ffa1d42f34633952dced662a8b7de.html" target="element"> Sammenstilt dokumentliste </a> </td>
											    <td> <a href="../elements/id-378ffa1d42f34633952dced662a8b7de.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3baeb3bd10f942fba5e62d881d034423.html" target="element"> Konsumerende system </a> </td>
											    <td> <a href="../elements/id-3baeb3bd10f942fba5e62d881d034423.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a026338c44e04910a9b3772807965414.html" target="element"> Fagsystem (konsument) </a> </td>
											    <td> <a href="../elements/id-a026338c44e04910a9b3772807965414.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element"> Konsument </a> </td>
											    <td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
											    <td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02d570a566ec4f39864cb83b0346386c.html" target="element"> Konsument sitt samarbeids omr&#229;de </a> </td>
											    <td> <a href="../elements/id-02d570a566ec4f39864cb83b0346386c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ead199c74c6b48bba8473ed21f190791.html" target="element"> Nasjonalt samarbeids omr&#229;de </a> </td>
											    <td> <a href="../elements/id-ead199c74c6b48bba8473ed21f190791.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a2ab4fd508b14098900bd44b8475f5b1.html" target="element"> Samarbeidsomr&#229;de for leverand&#248;r </a> </td>
											    <td> <a href="../elements/id-a2ab4fd508b14098900bd44b8475f5b1.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-fd4ec8e6bbe842879e08c9ae9df9aec2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fd4ec8e6bbe842879e08c9ae9df9aec2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																				<td> <a href="../elements/id-2ad6fdd278f2416e91d97db432cb1580.html" target="element"> Dokument </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-4384ab5ff39a475e9568c80f9b4b09f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4384ab5ff39a475e9568c80f9b4b09f5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
																				<td> <a href="../elements/id-e72cdc5c50b446649b01e9125262f039.html" target="element"> Dokument kopi </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e55b81ab04ac45f0b22353550b940bae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e55b81ab04ac45f0b22353550b940bae.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
																				<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e5b76a129a4f4b5ea4f77ba4ed4598e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e5b76a129a4f4b5ea4f77ba4ed4598e1.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
																				<td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-94df3eccb92c45598f8e0b91dd94d272.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-94df3eccb92c45598f8e0b91dd94d272.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-dd2e83c4e639409990b242c9ea05f339.html" target="element"> Dokumentlager EPJ-leverand&#248;r </a> </td>
																				<td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element"> Dokumentregister EPJ-leverand&#248;r </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-de080f39234f4132a62294475635d11d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de080f39234f4132a62294475635d11d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-694ff68d3af741e699eff40037dc6fef.html" target="element"> Fagsystem (dokumentkilde) </a> </td>
																		<td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4b30a53f8be3408a9c2e829935147ef1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4b30a53f8be3408a9c2e829935147ef1.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-694ff68d3af741e699eff40037dc6fef.html" target="element"> Fagsystem (dokumentkilde) </a> </td>
																		<td> <a href="../elements/id-39ed66e749b04f1d96caf985dd9d00fd.html" target="element"> Produserende helsepersonell </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-905163c128f54adb8ab7dff1db8558cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-905163c128f54adb8ab7dff1db8558cb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
																		<td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-978f2f47e12146a2b7584ff042aed172.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-978f2f47e12146a2b7584ff042aed172.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element"> Dokumentregister EPJ-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7076b1b629724a1f9eac6e5348d14b22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7076b1b629724a1f9eac6e5348d14b22.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f7263c38810493f9ec6db5bcff2e9a0.html" target="element"> Dokumentregister EPJ-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-55fa2034c06f4ebd9abd29d5962d8e9c.html" target="element"> Dokumentliste Leverand&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-04ceb8a6f51c4bc39dc6704aac775d3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04ceb8a6f51c4bc39dc6704aac775d3c.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
																		<td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7dfc2a8762cf4cdaaa56c8252db15294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7dfc2a8762cf4cdaaa56c8252db15294.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b410cf86548f4c0cbde779cd6cf33d3d.html" target="element"> Konsumerende helsepersonell </a> </td>
																		<td> <a href="../elements/id-38764be7c6094b8e8f75afce03978ffe.html" target="element"> Konsument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a9bf36d3a9954ec8bb498060fb4f0a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a9bf36d3a9954ec8bb498060fb4f0a9e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-39ed66e749b04f1d96caf985dd9d00fd.html" target="element"> Produserende helsepersonell </a> </td>
																		<td> <a href="../elements/id-01cde917919e42a0be0322efc4d78c8b.html" target="element"> Produsent </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e1f404042e594d73bd89ec81247408eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1f404042e594d73bd89ec81247408eb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
																		<td> <a href="../elements/id-b382baa881d647598bcd5b875e2f59eb.html" target="element"> Gateway EPJ-leverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-857eaa8210b1459fb0ede27d3e48e08e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-857eaa8210b1459fb0ede27d3e48e08e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
																		<td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element"> Dokumentregister KJ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-954cc14a290443529911ec819f6d53fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-954cc14a290443529911ec819f6d53fc.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbb05ef15d894897bdf8528bba92a6d7.html" target="element"> Nasjonalt koblingspunkt </a> </td>
																		<td> <a href="../elements/id-f248e5290c3744a4a94391910c19e766.html" target="element"> Dokument visning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-32f4ecbc7f984d5dba37ff75358101d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-32f4ecbc7f984d5dba37ff75358101d8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f248e5290c3744a4a94391910c19e766.html" target="element"> Dokument visning </a> </td>
																		<td> <a href="../elements/id-a026338c44e04910a9b3772807965414.html" target="element"> Fagsystem (konsument) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fb550011a7d342cb87e27c1efb2d9609.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb550011a7d342cb87e27c1efb2d9609.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element"> Dokumentregister KJ </a> </td>
																		<td> <a href="../elements/id-378ffa1d42f34633952dced662a8b7de.html" target="element"> Sammenstilt dokumentliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b45caf245845e1a1b8ba0ddbf4ad1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b45caf245845e1a1b8ba0ddbf4ad1a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0d22368177ed48c9a650b846c59aea2d.html" target="element"> Dokumentregister KJ </a> </td>
																		<td> <a href="../elements/id-a026338c44e04910a9b3772807965414.html" target="element"> Fagsystem (konsument) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-45aedc0308a140688531cce5474c3326.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45aedc0308a140688531cce5474c3326.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3baeb3bd10f942fba5e62d881d034423.html" target="element"> Konsumerende system </a> </td>
																		<td> <a href="../elements/id-b410cf86548f4c0cbde779cd6cf33d3d.html" target="element"> Konsumerende helsepersonell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e3940ff4baf492e8e803adf327fa4c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e3940ff4baf492e8e803adf327fa4c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3baeb3bd10f942fba5e62d881d034423.html" target="element"> Konsumerende system </a> </td>
																		<td> <a href="../elements/id-a026338c44e04910a9b3772807965414.html" target="element"> Fagsystem (konsument) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>