<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Oversikt samarbeidsområde</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Oversikt samarbeidsomr&#229;de</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e4786a319b63407e9b578c9ef986e197.png" alt="Oversikt samarbeidsområde" usemap="#id-e4786a319b63407e9b578c9ef986e197map"/>
			   <map name="id-e4786a319b63407e9b578c9ef986e197map">
				  				<area shape="rect" coords="201,418,441,485" href="../elements/id-f5bda0f839074c7fa86b69f4511062d6.html"  target="element">
				  				<area shape="rect" coords="201,346,441,413" href="../elements/id-323968cd61ab4543b50981d4c4f93b83.html"  target="element">
				  				<area shape="rect" coords="201,274,441,341" href="../elements/id-3d0579ec21a04b1b955ab32ff1545120.html"  target="element">
				  				<area shape="rect" coords="201,202,441,269" href="../elements/id-648b34a9fafb48db80ce917fd8f19148.html"  target="element">
				  				<area shape="rect" coords="201,130,441,197" href="../elements/id-56c49f7815bf40fb9b9863c8096b856a.html"  target="element">

				  		<area shape="rect" coords="177,94,477,502" href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html"  target="element">
				  		<area shape="rect" coords="524,250,644,335" href="../elements/id-5fe2808e04e84c7da421a526f50acfc5.html"  target="element">
				  		<area shape="rect" coords="10,255,130,340" href="../elements/id-c303d4433cfe4071837ea6a6b11193a4.html"  target="element">
				  		<area shape="rect" coords="405,526,525,581" href="../elements/id-fdadf4da39d54981b28ab55d0c9fda95.html"  target="element">
				  		<area shape="rect" coords="267,526,387,581" href="../elements/id-3ba9f1dd83d044ed8f62c728ea8d27ac.html"  target="element">
				  		<area shape="rect" coords="129,526,249,581" href="../elements/id-11ce07e6f4344eee86e69d83aa72aa77.html"  target="element">
				  		<area shape="rect" coords="267,10,387,65" href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Dette viewet er en ren gjengivelse av figur 7 i referansearkitekturen for dokumentdeling, se kap 6.5</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element"> Dokumentregister </a> </td>
											    <td> <a href="../elements/id-a3f83ee183d748bcbb8c3bdb7822d1d2.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11ce07e6f4344eee86e69d83aa72aa77.html" target="element"> Dokumentlager A </a> </td>
											    <td> <a href="../elements/id-11ce07e6f4344eee86e69d83aa72aa77.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ba9f1dd83d044ed8f62c728ea8d27ac.html" target="element"> Dokumentlager B </a> </td>
											    <td> <a href="../elements/id-3ba9f1dd83d044ed8f62c728ea8d27ac.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fdadf4da39d54981b28ab55d0c9fda95.html" target="element"> Dokumentlager C </a> </td>
											    <td> <a href="../elements/id-fdadf4da39d54981b28ab55d0c9fda95.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c303d4433cfe4071837ea6a6b11193a4.html" target="element"> Konsumerende virksomhet </a> </td>
											    <td> <a href="../elements/id-c303d4433cfe4071837ea6a6b11193a4.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5fe2808e04e84c7da421a526f50acfc5.html" target="element"> Produserende virksomhet </a> </td>
											    <td> <a href="../elements/id-5fe2808e04e84c7da421a526f50acfc5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
											    <td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-56c49f7815bf40fb9b9863c8096b856a.html" target="element"> Felles arkitektur (grensesnitt, sikkerhet og infrastruktur) </a> </td>
													    <td> <a href="../elements/id-56c49f7815bf40fb9b9863c8096b856a.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-648b34a9fafb48db80ce917fd8f19148.html" target="element"> Felles dokumentstandarder </a> </td>
													    <td> <a href="../elements/id-648b34a9fafb48db80ce917fd8f19148.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d0579ec21a04b1b955ab32ff1545120.html" target="element"> Felles metamodell </a> </td>
													    <td> <a href="../elements/id-3d0579ec21a04b1b955ab32ff1545120.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-323968cd61ab4543b50981d4c4f93b83.html" target="element"> Felles dokumentregister </a> </td>
													    <td> <a href="../elements/id-323968cd61ab4543b50981d4c4f93b83.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f5bda0f839074c7fa86b69f4511062d6.html" target="element"> En eller flere dokumentlagre </a> </td>
													    <td> <a href="../elements/id-f5bda0f839074c7fa86b69f4511062d6.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e984a31daf614bac8324f20e90de4ebe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e984a31daf614bac8324f20e90de4ebe.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
																		<td> <a href="../elements/id-56c49f7815bf40fb9b9863c8096b856a.html" target="element"> Felles arkitektur (grensesnitt, sikkerhet og infrastruktur) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-240005edde894a07978ca4b707d01426.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-240005edde894a07978ca4b707d01426.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
																		<td> <a href="../elements/id-648b34a9fafb48db80ce917fd8f19148.html" target="element"> Felles dokumentstandarder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-006ce09879734a308f1afb34cb2e2a1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-006ce09879734a308f1afb34cb2e2a1f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
																		<td> <a href="../elements/id-3d0579ec21a04b1b955ab32ff1545120.html" target="element"> Felles metamodell </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddd74874479641e89658d4c863f9e524.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddd74874479641e89658d4c863f9e524.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
																		<td> <a href="../elements/id-323968cd61ab4543b50981d4c4f93b83.html" target="element"> Felles dokumentregister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d6bdb730f7b41a683a638fb3f712846.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d6bdb730f7b41a683a638fb3f712846.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ed5deaf826a047c7a496f239ef74de59.html" target="element"> Prinsipper for samarbeidsomr&#229;det </a> </td>
																		<td> <a href="../elements/id-f5bda0f839074c7fa86b69f4511062d6.html" target="element"> En eller flere dokumentlagre </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>