<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kompakt - RHF alternativ 1</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kompakt - RHF alternativ 1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fa5861ece7684eb3a722c033e63a02c5.png" alt="Kompakt - RHF alternativ 1" usemap="#id-fa5861ece7684eb3a722c033e63a02c5map"/>
			   <map name="id-fa5861ece7684eb3a722c033e63a02c5map">
				  		<area shape="rect" coords="226,10,371,83" href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html"  target="element">
				  				<area shape="rect" coords="466,202,586,257" href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html"  target="element">
				  				<area shape="rect" coords="466,118,586,179" href="../elements/id-785cd58759b44e3aa1fa79508540516c.html"  target="element">
				  				<area shape="rect" coords="466,46,586,101" href="../elements/id-f62f91d8502248a8afdb2b8770739695.html"  target="element">

				  		<area shape="rect" coords="430,10,622,275" href="../elements/id-04af22a783e843a1be87f8c5d809b21a.html"  target="element">
				  				<area shape="rect" coords="34,46,154,101" href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html"  target="element">

				  		<area shape="rect" coords="10,10,179,275" href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html"  target="element">
				  		<area shape="rect" coords="226,202,371,275" href="../elements/id-c5ea1147ec8944a58a3b76f952cab11c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c5ea1147ec8944a58a3b76f952cab11c.html" target="element"> Avtale om deltakelse i (R)HFets-samarbeidsomr&#229;de </a> </td>
											    <td> <a href="../elements/id-c5ea1147ec8944a58a3b76f952cab11c.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
											    <td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element"> Fagsystem (produsent) </a> </td>
													    <td> <a href="../elements/id-b67ecee9f83f47deb5d6ca581618b47f.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-04af22a783e843a1be87f8c5d809b21a.html" target="element"> RHF </a> </td>
											    <td> <a href="../elements/id-04af22a783e843a1be87f8c5d809b21a.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f62f91d8502248a8afdb2b8770739695.html" target="element"> RHF Gateway </a> </td>
													    <td> <a href="../elements/id-f62f91d8502248a8afdb2b8770739695.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-785cd58759b44e3aa1fa79508540516c.html" target="element"> Dokumentregister RHF </a> </td>
													    <td> <a href="../elements/id-785cd58759b44e3aa1fa79508540516c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element"> Dokumentlager </a> </td>
													    <td> <a href="../elements/id-51fe680682f2471686a93048ec3e2d0b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
											    <td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ae5239e4286a41999db141489a2595a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae5239e4286a41999db141489a2595a4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
																		<td> <a href="../elements/id-c5ea1147ec8944a58a3b76f952cab11c.html" target="element"> Avtale om deltakelse i (R)HFets-samarbeidsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7cc3e4233f524f76933e9d7a21d161b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7cc3e4233f524f76933e9d7a21d161b6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8c99d2e00d7847209134db1e3e725fd7.html" target="element"> Avtalespesialist </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bc115227cc8a43938c8dde7e033dcf90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc115227cc8a43938c8dde7e033dcf90.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04af22a783e843a1be87f8c5d809b21a.html" target="element"> RHF </a> </td>
																		<td> <a href="../elements/id-c5ea1147ec8944a58a3b76f952cab11c.html" target="element"> Avtale om deltakelse i (R)HFets-samarbeidsomr&#229;de </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-509564695b594eb0ac267ce4f0637b27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-509564695b594eb0ac267ce4f0637b27.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04af22a783e843a1be87f8c5d809b21a.html" target="element"> RHF </a> </td>
																		<td> <a href="../elements/id-e9d89e2baf3c469ebee42127b01a0fbb.html" target="element"> Databehandleravtale </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>